<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/50a82cfbfd.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Hodlinfo</title>
</head>

<body>
  <div class="container-fluid">
    <div class="heading d-flex justify-content-between align-items-center px-2 my-4">
      <!-- Hodlinfo logo -->
      <img src="/assets/HODLINFO.8f78fc06.png" alt="Hodlinfo" height="45px" />
      <!-- Options to select currency and crypto -->
      <div class="options">
        <select name="currency" id="currency" style="text-transform: uppercase;">
          <option value="<%= currency %>" selected><%= currency %></option>
        </select>
        <select name="crypto" id="crypto" style="text-transform: uppercase;">
          <option value="<%= crypto %>" selected><%= crypto %></option>
          <hr>
          <% baseUnitTypes.forEach((baseUnitType) => { %>
          <option value="<%= baseUnitType %>"><%= baseUnitType.toUpperCase() %></option>
          <% }) %>
        </select>
        <a href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn" target="_blank" style="text-transform: uppercase;">Buy <%= crypto %></a>
      </div>
      <!-- Additional tools -->
      <div class="tools">
        <!-- 60s countdown timer with border indicating a timer -->
        <div class="countdown-timer">
          <span id="countdown">30</span>
        </div>
        <!-- telegram button -->
        <a href="https://hodlinfo.com/connect/telegram" target="_blank" class="btn btn-primary">
          <i class="fab fa-telegram"></i>
          Connect Telegram
        </a>
        <!-- Dark/light mode toggle -->
        <label class="switch">
          <input type="checkbox" id="themeToggle" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="figures">
      <h2 class="text-center text-secondary mb-2">Best Price to Trade</h2>

      <div class="figures-details">
        <div class="detail">
          <h3 class="text-center"><%= figures.priceFiveMins %> %</h3>
          <p class="text-center text-secondary">5 mins</p>
        </div>
        <div class="detail">
          <h3 class="text-center"><%= figures.priceOneHour %> %</h3>
          <p class="text-center text-secondary">1 hour</p>
        </div>
        <div class="detail main">
          <h1 class="text-center">₹ <%= figures.averagePrice %></h1>
          <p class="text-center text-secondary">
            Average BTC/INR net price including commission
          </p>
        </div>
        <div class="detail">
          <h3 class="text-center"><%= figures.priceOneDay %> %</h3>
          <p class="text-center text-secondary">1 day</p>
        </div>
        <div class="detail">
          <h3 class="text-center"><%= figures.priceSevenDays %> %</h3>
          <p class="text-center text-secondary">7 days</p>
        </div>
      </div>
    </div>
    <table class="table table-dark mt-5">
      <thead>
        <tr>
          <th class="text-secondary">#</th>
          <th class="text-secondary">Base Unit</th>
          <th class="text-secondary">Last Traded Price</th>
          <th class="text-secondary">Buy Price</th>
          <th class="text-secondary">Sell Price</th>
          <th class="text-secondary">Difference</th>
          <th class="text-secondary">Savings</th>
        </tr>
      </thead>
      <tbody>
        <% tickers.forEach((ticker, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= ticker.name %></td>
          <td>₹ <%= ticker.last %></td>
          <td>₹ <%= ticker.buy %></td>
          <td>₹ <%= ticker.sell %></td>
          <!-- If difference in NaN -->
          <% if (isNaN(ticker.difference)) { %>
          <td style="color: #5dc7c2;">0 %</td>
          <% } else if (ticker.difference < 0) { %>
          <td class="text-danger"><%= ticker.difference %> %</td>
          <% } else { %>
          <td style="color: #5dc7c2;">+<%= ticker.difference %> %</td>
          <% } %>
          <% if (ticker.savings < 0) { %>
          <td class="text-danger">₹ <%= ticker.savings %></td>
          <% } else { %>
          <td style="color: #5dc7c2;">+₹ <%= ticker.savings %></td>
          <% } %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <!-- Alert that notifies data is updated -->
  <div class="alert alert-success text-center fixed-bottom d-none" role="alert" style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); z-index: 9999;">
    Data updated
  </div>

  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>